{% extends "blog/layout.html" %}

{% block content %}
<div class="container" style="text-align: center; max-width: 800px;">
    <article>
        <hgroup>
            <h1>404 Page Not Found</h1>
            <p>Try again Bob, that path leads nowhere.</p>
        </hgroup>

        <a href="{% url 'blog' %}">
            <img src="https://http.cat/404.jpg" alt="404 not found!"
                style="border-radius: var(--pico-border-radius); width: 100%; height: auto; max-width: 600px;">
        </a>

        <footer>
            <a href="{% url 'blog' %}" role="button" class="secondary">Take me Home</a>
        </footer>
    </article>
</div>
{% endblock %}