  <!-- Banner start -->
  {% load staticfiles %}
  <div id="banner">
    <div class="container">
      <div class="row">
        <div class="6u 12u(mobile)">

          <!-- Banner Copy -->
            <p>We do something really useful, important, and unique. Learn all about it here ...</p>
            <a href="#" class="button-big">Go on, click me!</a>

        </div>
        <div class="6u 12u(mobile)">

          <!-- Banner Image -->
          <script src="{% static 'blog/assets/js/jquery.min.js' %}"></script>  
            <a href="#" class="bordered-feature-image"><img src="{% static 'blog/images/banner.jpg' %}" alt="" /></a>

        </div>
      </div>
    </div>
  </div>
<!-- Banner End -->