{% extends "blog/layout.html" %}
{% load bleach_tags %}

{% block content %}
<div class="grid">

    <div style="--pico-cols: 9;">
        {% for blog_post in posts %}

        <article>
            <header>
                {% if blog_post.image %}
                <img src="{{ media_url }}{{ blog_post.image.url }}" alt="{{ blog_post.title }}"
                    style="width: 100%; height: auto; border-radius: var(--pico-border-radius);" />
                {% endif %}

                <h2><a href="/blog/{{ blog_post.id }}-{{ blog_post.slug }}/">{{ blog_post.title }}</a></h2>

                <small>
                    <span>by </span> {{ blog_post.author.name }} |
                    <span>on {{ blog_post.date|date:"F jS o" }}</span>
                </small>
            </header>

            <p> {{ blog_post.body|slice:":200"|bleach }} . . . </p>

            <footer>
                <a href="/blog/{{ blog_post.id }}-{{ blog_post.slug }}/" role="button" class="secondary">Read More</a>
            </footer>
        </article>
        <hr>
        {% endfor %}
    </div>

    <aside class="sidebar" style="--pico-cols: 3;">

        <section>
            {% include 'blog/support.html' %}
        </section>

        <section>
            <h4>Recent Posts</h4>
            <ul role="list">
                {% for blog_post in recent_posts %}
                <li><a href="/blog/{{ blog_post.id }}-{{ blog_post.slug }}/"> {{ blog_post.title }} </a></li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h4>Categories</h4>
            <ul role="list">
                {% for cat in categories %}
                <li><a href="/blog/c/{{ cat.name }}/"> {{ cat.name }} </a></li>
                {% endfor %}
            </ul>
        </section>

        <section>
            {% include 'blog/mastodon.html' %}
        </section>

    </aside>
</div>
{% endblock %}