{% extends "blog/layout.html" %}
{% load bleach_tags %}
{% block content %}
      <div id="content-wrapper">
        <div id="content">
          <div class="container">
            <div class="row">
              <div class="9u 12u(mobile)">

          
          <section>
            <header><h2>{{ category }}</h2> </header>
          </section>
          <!-- Main Content -->
          {% for blog_posts in page_obj %}
          <section>
            <header>
                <!-- featured image --> 
                {% if blog_posts.image %}
                    <img src="{{ blog_posts.image.url }}" class="feature-image" alt="{{blog_posts.title}}"/>
                {% endif %}
                <h2><a href="/blog/{{ blog_posts.id }}-{{ blog_posts.slug }}/">{{ blog_posts.title }} </a></h2>
                <h3> <span>by </span> {{ blog_posts.author.name }}</h3>
                <h4> <span>on {{ blog_posts.date|date:"F jS o" }} </span></h4>
            </header>
                <p> {{ blog_posts.body|slice:":200"|bleach }} . . . </p>
          </section>
          {% endfor %}
          <section>
            <h2 class="pagination">
              <span class="step-links">
                  {% if page_obj.has_previous %}
                      <a href="?page=1">&laquo; first</a>
                      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}

                  <span class="current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>

                  {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}">next</a>
                      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                  {% endif %}
              </span>
            </h2>
          </section>
              </div>
              <div class="3u 12u(mobile)">

                <!-- Sidebar -->
                {% include 'blog/support.html' %}
                <section>
                    <header>
                      <h2>Recent Posts</h2>
                    </header>
                    <ul class="link-list">
                      {% for blog_post in recent_posts %}
                      <li><a href="/blog/{{ blog_post.id }}-{{ blog_post.slug }}/"> {{ blog_post.title }} </a></li>
                      {% endfor %}
                      </ul>
                 </section>
                 <section>
                  <header>
                    <h2>Categories</h2>
                  </header>
                  <ul class="link-list">
                    {% for cat in categories %}
                    <li><a href="/blog/c/{{ cat.name }}/"> {{ cat.name }} </a></li>
                    {% endfor %}
                    </ul>
               </section>
                 <section>
                  <p>
                    <a class="twitter-timeline"  data-tweet-limit="3" href="https://twitter.com/eddyizm?ref_src=twsrc%5Etfw">Tweets by eddyizm</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>              
                    </p>
               </section>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}


