{% load static %}
<!-- Features -->
<div id="features-wrapper">
  <div id="features">
    <div class="container">
      <div class="row">
        <div class="3u 12u(mobile)">

          <!-- Feature #1 -->
            <section>
              <a href="{% url 'chosenfewchildren' %}" class="bordered-feature-image">
                <img src="{% static 'blog/images/cfc.jpg' %}" alt="" /></a>
              <h2>Chosen Few Children</h2>
              <p>
                Live, Whittier, CA 2003. 
                Listen <a href="{% url 'chosenfewchildren' %}">here</a>.
                               
               </p>
            </section>

        </div>
        <div class="3u 12u(mobile)">

          <!-- Feature #3 -->
            <section>
              <a href="https://github.com/eddyizm/insta_delete" class="bordered-feature-image"><img src="{% static 'blog/images/insta_delete.png' %}" alt="insta_delete" /></a>
              <h2>Insta Delete / Insta Upload</h2>
              <p>Open source project using Selenium, BS4 and Python 3 to delete old instagram posts.                
                <br> 
                <a href="https://eddyizm.com/blog/3-insta_delete/">Details on delete functionality.</a>
                <br> 
                <br> 
                Recently added a new script to upload photos. Blog post to come.
              </p>
            </section>

        </div>
        <div class="3u 12u(mobile)">

          <!-- Feature #4 -->
            <section>
              <a href="https://soundcloud.com/eddyizm" class="bordered-feature-image"><img src="{% static 'blog/images/soundcloud.jpg' %}" alt="" /></a>
              <h2>Making Music Since 1992</h2>
              <p>
                1992 or there abouts. My soundcloud holds the latest 2 hrs worth of tracks of published tracks. In the near future, I will archive everything on this site
                and build a mobile app to stream it all. 
                <br>
                Visit my <a href="https://soundcloud.com/eddyizm">soundcloud profile</a> to rock out.
              
              </p>
            </section>

        </div>
        <div class="3u 12u(mobile)">

          <!-- Feature #2 -->
            <section>
              <a href="http://fullertonceramics.com"  class="bordered-feature-image"><img src="{% static 'blog/images/ceramics2.jpg' %}" alt="fullertonceramics" /></a>
              <h2>FullertonCeramics.com</h2>
              <p>
                I teamed up with my friend <a href="https://instagram.com/ironbetic">Sean</a>
                and started Fullerton Ceramics. In doing so, I built a simple one page static website for our artistic endeavors. 
                <br>
                He has now surpassed me in ceramics skills but I got him beat on the google.
              </p>
            </section>

        </div>
      </div>
      <div class="row">
        <div class="3u 12u(mobile)">

          <!-- Feature #1 -->
            <section>
              <a href="https://www.etsy.com/shop/eddyizm" class="bordered-feature-image"><img src="{% static 'blog/images/ceramics1.jpg' %}" alt="" /></a>
              <h2>Wheel Thrown Ceramics</h2>
              <p>
                I started throwing again in 2016 after a 20 year hiatus.
                Visit my <a href="https://www.etsy.com/shop/eddyizm">Etsy Shop</a> to see what I have available.
                <!-- <strong>Halcyonic</strong>  -->
               
               </p>
            </section>

        </div>
      </div>
    </div>
  </div>
</div>
