<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <title>eddyizm.com</title>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />

    <link href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'blog/favicon.ico' %}" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="{% static 'blog/assets/css/toots.css' %}">
</head>

<body>
    <div class="container">

        <header class="container">
            <nav>
                <ul>
                    <li><a href="{% url 'blog' %}" class="contrast"><strong>eddyizm</strong></a></li>
                </ul>
                <ul>
                    <li><a href="{% url 'blog_posts' %}">Blog</a></li>
                    <li><a href="{% url 'software' %}">Software</a></li>
                    <li><a href="{% url 'projects' %}">Projects</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                </ul>
            </nav>
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer class="container">
            <hr>
            <div class="grid">
                <section style="--pico-cols: 8;">
                    <h2>Stay in Touch</h2>
                    <div class="grid">
                        <ul style="list-style: none; padding: 0; --pico-cols: 6;">
                            <li>
                                <a href="https://discord.com"><i class="fab fa-discord fa-2x"></i></a>
                                <a href="https://fosstodon.org/@eddyizm"><i class="fab fa-mastodon fa-2x"></i></a>
                                <a href="https://github.com/eddyizm"><i class="fab fa-github fa-2x"></i></a>
                            </li>
                        </ul>
                        <ul style="list-style: none; padding: 0; --pico-cols: 6;">
                            <li>
                                <a href='https://ko-fi.com/L3L01HI5A' target='_blank'><img height='36'
                                        style='border:0px;height:36px;'
                                        src='https://az743702.vo.msecnd.net/cdn/kofi1.png?v=2' border='0'
                                        alt='Buy Me a Coffee at ko-fi.com' /></a>
                            </li>
                            <li><small>bitcoin: 3QVHSSCJvn6yXEcJ3A3cxYLMmbvFsrnUs5</small></li>
                        </ul>
                    </div>
                </section>
                <section style="--pico-cols: 4;">
                    <h2>Quote Blurb</h2>
                    <figure>
                        <blockquote cite="eddyizm.com">
                            Bad news is: you cannot make people like, love, understand, validate, accept or be nice to
                            you. You can't control them either. Good news is: it doesn't matter.
                        </blockquote>
                    </figure>
                </section>
            </div>
            <small id="copyright">
                2018-{{year}} &copy; eddyizm.com All rights reserved.
                UP</a> (original template) now using <a href="https://picocss.com">Pico.css</a>
            </small>
        </footer>

    </div>
    <script src="{% static 'blog/assets/js/music.js' %}"></script>
    <script defer src="https://analytics.us.umami.is/script.js"
        data-website-id="ecd1395a-6548-4a88-a9c2-18fae92bffeb"></script>
    <script type="module" src="https://esm.sh/emfed@1"></script>
</body>

</html>