{% extends "blog/layout.html" %}

{% block content %}
<div class="grid">

    <div style="--pico-cols: 9;">

        <article>
            <header>
                {% if not hide_thumb and post.image %}
                <img src="{{ media_url }}{{ post.image.url }}" alt="{{ post.title }}"
                    style="width: 100%; height: auto; border-radius: var(--pico-border-radius);" />
                {% endif %}

                <h1>{{ post.title }}</h1>

                <small>
                    <span>by </span> {{ post.author.name }} |
                    <span>on {{ post.date|date:"F jS o" }}</span>
                </small>
            </header>

            <p> {{ post.body| safe }} </p>

            <footer>
                <p>
                    <strong>Categories:</strong>
                    {% for category in post.categories.all %}
                    <a href="/blog/c/{{ category.name }}/" class="contrast">
                        {{ category.name }}
                    </a>&nbsp;
                    {% endfor %}
                </p>
            </footer>
        </article>

        <hr>

        <section>
            <h4>Comments</h4>
            <div id="disqus_thread"></div>
            <script>
                var disqus_config = function () {
                    this.page.url = 'https://eddyizm.com/blog/{{ post.id }}-{{ post.slug }}/';
                    this.page.identifier = '/{{ post.id }}-{{ post.slug }}/';
                };
                (function () {  // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://eddyizm.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript"
                    rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>

    </div>

    <aside class="sidebar" style="--pico-cols: 3;">

        <section>
            {% include 'blog/support.html' %}
        </section>

        <section>
            <h4>Recent Posts</h4>
            <ul role="list">
                {% for blog_post in posts %}
                <li><a href="/blog/{{ blog_post.id }}-{{ blog_post.slug }}/"> {{ blog_post.title }} </a></li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h4>Categories</h4>
            <ul role="list">
                {% for cat in categories %}
                <li><a href="/blog/c/{{ cat.name }}/"> {{ cat.name }} </a></li>
                {% endfor %}
            </ul>
        </section>

        <section>
            {% include 'blog/mastodon.html' %}
        </section>

    </aside>
</div>
{% endblock %}