{% extends "blog/layout.html" %}

{% block content %}
{% load staticfiles %}

<div id="features-wrapper">
        <div id="features">
          
          <div class="container">
                {% for quotes in q %}
            <div class="row" style="margin-top: 6em;" >
                   
              <div class="12u 12u(mobile)" style="margin-bottom: 6em;">
                <!-- <a href="#" class="button-big">{{ quotes.quote }}</a> -->
                <!-- <h3> click for a random quote </h3> -->
                <h1>{{ quotes.quote }} </h1>
              </div>
             
            </div>
            {% endfor %}
        <!-- <div class="row">
            <div class="12u 12u(mobile)">
                <form action="/coming/" method="post">
                    <div>
                        <label for="your_name">Name: </label>
                        <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
                        <label for="email">Email: </label>
                        <input id="email" type="text" name="email" value="{{ email }}">
                        <input type="submit"  value="submit">
                    </div>
                </form>
            </div>
        </div> -->
          </div>
        
        </div>
      </div>

{% endblock %}
