{% load static %}
{% load honeypot %}
<!-- Content -->
<div id="content-wrapper">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="12u">
                    <!-- Main Content -->
                    <section>
                        <header>
                            <h2>about</h2>
                            <h3>Mt. Langley, Sierra Nevada - Elevation	14,032 ft (4,277 m)</h3>
                        </header>
                        <img src="{% static 'blog/images/mtlangley.jpg' %}" alt="Mt. Langley" />
                        <p>
                            Eduardo Cervantes has the ability to show the world
                            in a way that simultaneously irrational and
                            logical.<br />
                            His eyes are so powerful he can see through time,
                            forwards, backwards and sideways. His images will
                            make you double over with thought–unless your head
                            explodes first.<br />
                            He normally doesn’t talk about himself in third
                            person and really tries to not take himself too
                            seriously.
                        </p>
              
                        <p>
                            If you need some software/website, drop me a line here. 
                        </p>

                        <div class="container">
                          {% if thankyou %}
                          <h2>Thank you for the message Bob! </h2>
                          {% else %}
                          <h3>Say Hello</h3>
                          <form method="post">
                              {% csrf_token %}
                          <div class="form-group">
                              {{ form.from_email }}
                          </div>
                          <div class="form-group">
                            {% render_honeypot_field %}
                        </div>
                          <div class="form-group">
                            {{ form.subject }}
                          </div>
                          <div class="form-group">
                            {{ form.message }}
                          </div>
                          <div class="form-group">
                              <input class="button-small" type="submit" value="Submit">
                          </div>
                          </form>
                          {% endif %}
                      </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
