<section>
    {% load static %}
    <header>
        <h4>Support</h4>
    </header>
    <ul class="link-list">
        <li>
            <a href='https://ko-fi.com/L3L01HI5A' target='_blank'>
                <img height='36' style='border:0px;height:36px;' src='https://az743702.vo.msecnd.net/cdn/kofi1.png?v=2'
                    border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
        </li>
        <li>bitcoin: 3QVHSSCJvn6yXEcJ3A3cxYLMmbvFsrnUs5</li>
        <li>
            <div>
                <form action="{%url 'search_results' %}" method="GET">
                    <span><input type="text" name="q" placeholder="Search...">
                        <i class="fa fa-search"></i>
                    </span>
                </form>
            </div>
        </li>
        <!-- <li><a href="http://www.ariesmooncandles.com">ariesmooncandles.com</a></li> -->
    </ul>
</section>