{% load staticfiles %}
{% block content %}
<div id="content">
  <div class="container">
    <div class="row">
      <div class="6u 12u(mobile)">

        <!-- Box #1 -->
          <section>
            <header>
              <h2>Time Wasters Club with eddyizm</h2>
              <h3>There's always time to kill</h3>
            </header>
            <a href="#" class="feature-image"><img src="{% static 'blog/images/TWC-300x300.png' %}" alt="" /></a>
            <p>
              My first podcast that was inspired by TYT Old School and my desire to make 
              time to sit down and chat with friends. 
            </p>
          </section>
      </div>
      <div class="6u 12u(mobile)">

        <!-- Box #1 -->
        <section>
            <header>
              <h2>Stream Our Mistakes</h2>
              <h3>Because we all code like this</h3>
            </header>
            <a href="#" class="feature-image"><img src="{% static 'blog/images/podcastlogo_som.png' %}" alt="" /></a>
            <p>
              A technical collaboration with Octoion (cool name for Matt)
            </p>
          </section>

      </div>
      
    </div>
  </div>
</div>
{% endblock %}	