{% load staticfiles %}
{% block content %}
<div id="content">
  <div class="container">
    <div class="row">
      <div class="6u 12u(mobile)">

        <!-- Box #1 -->
          <section>
            <header>
              <h2>Flat File Exporter</h2>
              <h3>Export flat files and excel files from Microsoft SQL Server</h3>
            </header>
            <a href="https://bitbucket.org/eddyizm/flatfileexporter/wiki/Home" ><img src="https://bitbucket.org/eddyizm/flatfileexporter/wiki/assets/ffe_01.png" alt="" /></a>
            <p>
              Aimed at people who write sql but struggle to extract clean flat csv, txt, or excel files. 
              No frills. Read more here.
            </p>
          </section>
      </div>
      <div class="6u 12u(mobile)">

        <!-- Box #1 -->
        <section>
            <header>
              <h2>Need an app?</h2>
              <h3>Feel free to reach out to discuss!</h3>
            </header>
            <!-- <a href="https://streamourmistakes.blogspot.com"><img src="{% static 'blog/images/podcastlogo_som.png' %}" alt="" /></a> -->
            <p>
              <a href="{% url 'about' %}">Contact me.</a>
            </p>
          </section>

      </div>
      
    </div>
  </div>
</div>
{% endblock %}	